<footer class="footer1">
  <div class="block_elem0">
        <div class="block_elem1">
            <a class="block_elem_link" href="/">Livraria Angular</a>
            <span class="block_elem1-span"> &copy; 2025 Domínio Próprio</span>
        </div>
        <div class="block_elem2">
            <span class="block_elem2-span">Powered by </span>
            <a class="block_elem_link"
                href="https://cdn.pensador.com/img/imagens/qu/an/quando_confiamos_em_deus_encontramos_a_coragem_para_enfrentar_qualquer_obstaculo_c.jpg?auto_optimize=low&width=655"
                target="_blank"
            >
            <span>Força de Vontade</span>
            </a>
        </div>
    </div>
</footer>
