// .sidenav-container {
//     height: 100vh;
//   }
  
//   mat-sidenav {
//     width: 250px; /* Largura do menu lateral */
//   }
  
//   mat-toolbar {
//     display: flex;
//     align-items: center;
//     gap: 16px;
//   }

.drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    width: 200px; /* Define a largura do drawer */
  }
  
  .mat-toolbar {
    display: flex;
    align-items: center;
    gap: 16px;
    position:fixed;
    z-index: 1000;
  }

.nav-link-home {
    font-style: normal;
    text-decoration: none;
    color: white;
}