.titulo {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.all-bodies {
    margin-top: 80px;
}

.mat-drawer {
    max-width:fit-content;
    // aparece uma barra pro conteúdo quando passa o hover.
    // width: 100px;
    max-height: max-content;
    margin-top: 64px;
    border-radius: 5px;
    background-color: white;
    z-index: 2500 !important;
}

.mat-drawer-backdrop {
    z-index: 999;
}