// .sidebar {
//   gap: 15px;
  
// }

// .sidebar a {
//   font-style: oblique;
//   font-size: larger;
//   text-decoration: none;
//   color: -webkit-link;
// }

.nav-list {
  gap: 24px;
  padding: 0;
  margin: 0;

  li {
    a {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 12px;
      text-decoration: none;
      text-align: center;
      color: #333;
      font-weight: 500;
      transition: all 0.15s ease;

      &:hover {
        background: rgba(0, 0, 0, 0.05); // soft highlight
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); // subtle depth
        transform: translateY(-1px) scale(1.01); // slight lift
        overflow-x: hidden;
      }

      &:active {
        transform: scale(0.90);
      }
    }
  }
}

// &:hover {
//   background: rgba(255, 255, 255, 0.2);
//   backdrop-filter: blur(6px);
//   -webkit-backdrop-filter: blur(6px);
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
// }