// .sidebar {
//   gap: 15px;

// }

// .sidebar a {
//   font-style: oblique;
//   font-size: larger;
//   text-decoration: none;
//   color: -webkit-link;
// }

//gambiarra com o nav de cor de fundo, pois não consegui sobrepor o backdrop nativo, muito trabalho, pra deixar fixo...
.nav-list {
  gap: 24px;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 9999;
  background-color: azure;
  border-radius: 12px;
  

  li {
    a {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 12px;
      text-decoration: none;
      text-align: center;
      color: #333;
      font-weight: 500;
      transition: all 0.15s ease;
      z-index: 3000;

      &:hover {
        background: rgba(0, 0, 0, 0.05); // soft highlight
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); // subtle depth
        transform: translateY(-1px) scale(1.01); // slight lift
        overflow-x: hidden;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

// &:hover {
//   background: rgba(255, 255, 255, 0.2);
//   backdrop-filter: blur(6px);
//   -webkit-backdrop-filter: blur(6px);
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
// }
