<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
<p>oiii</p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->
  <p>↓↓↓↓↓ AQUI É O EXEMPLO DO LUCAS ↓↓↓↓↓</p>
  <div class="example-container">
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button routerLink="/" class="no-button-style">
        <h1 class="example-app-name">Gerenciamento Aviva</h1>
      </button>    
      <div class="button-wrapper">
        <button mat-icon-button
        matTooltip="Logout"
        (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav mode="side" fixedTopGap="56" class="example-sidenav">
        <mat-nav-list>
          <mat-list-item routerLink="/products">Produtos</mat-list-item>
          <mat-list-item routerLink="/orders">Pedidos</mat-list-item>
          <mat-list-item routerLink="/inventory">Gestão</mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <ng-content></ng-content> 
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>